@page "/car"
@rendermode InteractiveServer
@inject IJSRuntime JS

<h1>Car Game</h1>
<canvas id="car-canvas" style="border:1px solid #000; width:100vw; height:100vh;" tabindex="0"></canvas>
<script src="cargame.js"></script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("carGame.init", "car-canvas");
        }
    }
}
